<!DOCTYPE html>

<html>
<head>
    <style>
        a {
            color: #660000;
        }

        .jumbotron-billboard .img {
            margin-bottom: 0px;
            color: #fff;
            background: #000 url("/Content/Pictures/pizza-3-2.jpg") top center no-repeat;
            width: 100%;
            height: 400px;
            background-size: cover;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }

        .jumbotron h2 {
            margin-top: 0;
        }

        .jumbotron {
            position: relative;
            padding-top: 50px;
            padding-bottom: 50px;
        }

            .jumbotron .container {
                position: relative;
                z-index: 2;
            }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body style="background-color:#660000">
    <div class="row">
        <div class="jumbotron jumbotron-billboard">
            <div class="img"></div>
            <div class="container">

            </div>
        </div>
    </div>
    <div class="row" style="padding-top:300px">
        @foreach (var obj in ViewData.Model)
        {
            if (obj.KategoriiID == 1 & obj.Velicina.Golemina == "Mala")
            {
                if (obj.Tip.ImePica == "Kapricioza")
                {
                    <p></p>
                    <div class="thumbnail" style="background-color:#ffece6">
                        <div class="row">

                            <div class="col-md-3">
                                <a href="/Image/Kapricioza">
                                    <img id="myImg" src="~/Content/Pictures/1KapriciozaKK.png" alt="Kapricioza" width="200px" height="200px" />
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="/Image/Kapricioza">
                                    <h1>@obj.Tip.ImePica</h1>
                                </a>
                                <h4>Sostojki</h4><h3>@obj.Opi.Sostojki</h3>
                            </div>
                        </div>
                    </div>
                    <p></p>
                }
                else if (obj.Tip.ImePica == "Morska")
                {
                    <div class="thumbnail" style="background-color:#ffece6">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="/Image/morska">
                                    <img id="myImg" src="~/Content/Pictures/6morskaKK.png" alt="Morska" width="200px" height="200px" />
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="/Image/morska">
                                    <h1>@obj.Tip.ImePica</h1>
                                </a>
                                <h4>Sostojki</h4><h3>@obj.Opi.Sostojki</h3>
                            </div>
                        </div>
                    </div>
                    <p></p>
                }
                else if (obj.Tip.ImePica == "Elizabet")
                {
                    <div class="thumbnail" style="background-color:#ffece6">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="/Image/Elizabet">
                                    <img id="myImg" src="~/Content/Pictures/7ElizabetKK.png" alt="Elizabet" width="200px" height="200px" />
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="/Image/Elizabet">
                                    <h1>@obj.Tip.ImePica</h1>
                                </a>
                                <h4>Sostojki</h4><h3>@obj.Opi.Sostojki</h3>
                            </div>
                        </div>
                    </div>
                }
            }
            <p></p>
            if (obj.KategoriiID == 3 & obj.Velicina.Golemina == "Mala")
            {
                if (obj.Tip.ImePica == "Posna")
                {
                    <p></p>
                    <div class="thumbnail" style="background-color:#ffece6">
                        <div class="row">

                            <div class="col-md-3">
                                <a href="/Image/Posna">
                                    <img id="myImg" src="~/Content/Pictures/5posnaPP.png" alt="Posna" width="200px" height="200px" />
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="/Image/Posna">
                                    <h1>@obj.Tip.ImePica</h1>
                                </a>
                                <h4>Sostojki</h4><h3>@obj.Opi.Sostojki</h3>
                            </div>
                        </div>
                    </div>
                    <p></p>
                }
                else if (obj.Tip.ImePica == "Tuna")
                {
                    <div class="thumbnail" style="background-color:#ffece6">
                        <div class="row">

                            <div class="col-md-3">
                                <a href="/Image/Tuna">
                                    <img id="myImg" src="~/Content/Pictures/8tunaPP.png" alt="Tuna" width="200px" height="200px" />
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="/Image/Tuna">
                                    <h1>@obj.Tip.ImePica</h1>
                                </a>
                                <h4>Sostojki</h4><h3>@obj.Opi.Sostojki</h3>
                            </div>
                        </div>
                    </div>
                    <p></p>

                }
                else if (obj.Tip.ImePica == "Napolitana")
                {
                    <div class="thumbnail" style="background-color:#ffece6">
                        <div class="row">

                            <div class="col-md-3">
                                <a href="/Image/Napolitana">
                                    <img id="myImg" src="~/Content/Pictures/9napolitanaPP.png" alt="Napoli" width="200px" height="200px" />
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="/Image/Napolitana">
                                    <h1>@obj.Tip.ImePica</h1>
                                </a>
                                <h4>Sostojki</h4><h3>@obj.Opi.Sostojki</h3>
                            </div>
                        </div>
                    </div>

                }
            }
            <p></p>
            if (obj.KategoriiID == 2 & obj.Velicina.Golemina == "Mala")
            {
                if (obj.Tip.ImePica == "Margarita")
                {<p></p>
                    <div class="thumbnail" style="background-color:#ffece6">
                        <div class="row">

                            <div class="col-md-3">
                                <a href="/Image/Margarita">
                                    <img id="myImg" src="~/Content/Pictures/2margaritaVV.png" alt="Margarita" width="200px" height="200px" />
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="/Image/Margarita">
                                    <h1>@obj.Tip.ImePica</h1>
                                </a>
                                <h4>Sostojki</h4><h3>@obj.Opi.Sostojki</h3>
                            </div>
                        </div>
                    </div>
                    <p></p>
                }
                else if (obj.Tip.ImePica == "Hawaii")
                {
                    <div class="thumbnail" style="background-color:#ffece6">
                        <div class="row">

                            <div class="col-md-3">
                                <a href="/Image/Hawaii">
                                    <img id="myImg" src="~/Content/Pictures/3hawaiiVV.png" alt="Hawaii" width="200px" height="200px" />
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="/Image/Hawaii">
                                    <h1>@obj.Tip.ImePica</h1>
                                </a>
                                <h4>Sostojki</h4><h3>@obj.Opi.Sostojki</h3>
                            </div>
                        </div>
                    </div>
                    <p></p>
                }
                else if (obj.Tip.ImePica == "Napoli")
                {
                    <div class="thumbnail" style="background-color:#ffece6">
                        <div class="row">

                            <div class="col-md-3">
                                <a href="/Image/Napoli">
                                    <img id="myImg" src="~/Content/Pictures/4veganaVV.png" alt="Napoli" width="200px" height="200px" />
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="/Image/Napoli">
                                    <h1>@obj.Tip.ImePica</h1>
                                </a>
                                <h4>Sostojki</h4><h3>@obj.Opi.Sostojki</h3>
                            </div>
                        </div>
                    </div>

                }
            }
        }
    </div>
    <script>
                       var log = sessionStorage.getItem('UserName');
                    if (document.getElementById("menuRightLogin") && log != null) {
                        $("#menuRightLogin").remove();
                        $("#menuRightLogoff").remove();
                            var html = '<ul id="menuRightLogoff" class="nav navbar-nav navbar-right">' +
                                '<li>@Html.ActionLink("Naracka", "Index", "Naracka", routeValues: null, htmlAttributes: new { id = "registracijaLink" })</li>' +
                                '<li><a id="logOff" href="/Account/Login">Log off</a></li>' +
                                '</ul>';


                        $('body > div.navbar.navbar-inverse.navbar-fixed-top > div > div.navbar-collapse.collapse').append(html);
                        $('#logOff').click(function () { sessionStorage.clear();});
                    } else {
                        $("#menuRightLogin").remove();
                        $("#menuRightLogoff").remove();
                      
                             var html = '<ul id="menuRightLogin" class="nav navbar-nav navbar-right">' +
                                '<li>@Html.ActionLink("Registracija", "Index", "Registracija", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>' +
                                '<li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>' +
                                '</ul>';
                            $('body > div.navbar.navbar-inverse.navbar-fixed-top > div > div.navbar-collapse.collapse').append(html);

                        }
    </script>
</body>
</html>