<html>
<head>
    <title>Vegetarijana</title>
</head>
<body>
    @foreach (var obj in ViewData.Model)
    {
        if (obj.KategoriiID == 2 & obj.Velicina.Golemina == "Mala")
        {
            <div class="row">
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href="#">
                            @if (obj.Tip.ImePica == "Margarita")
                            {
                                <img src="~/Content/Pictures/Pica1.png" alt="Margarita" width="200px" height="200px" />
                                <div class="caption">@obj.Tip.ImePica</div>
                                <div class="caption">@obj.Opi.Sostojki</div>

                            }
                            else if (obj.Tip.ImePica == "Hawaii")
                            {
                                <img src="~/Content/Pictures/Pica2.png" alt="Hawaii" width="200px" height="200px" />
                                <div class="caption">@obj.Tip.ImePica</div>
                                <div class="caption">@obj.Opi.Sostojki</div>

                            }
                            else if (obj.Tip.ImePica == "Napolitana")
                            {
                                <img src="~/Content/Pictures/Pica3.png" alt="Napolitana" width="200px" height="200px" />
                                <div class="caption">@obj.Tip.ImePica</div>
                                <div class="caption">@obj.Opi.Sostojki</div>

                            }
                        </a>
                    </div>
                </div>
            </div>
        }
    }

</body>
</html>

