

<html>
<head>
    <title>Vegetarijana</title>
    <style>
        a {
            color: #660000;
        }
        #myImg:hover {
            transform: scale(1.2);
        }
    </style>
</head>
<body style="background-color:#660000">
    @foreach (var obj in ViewData.Model)
    {
        if (obj.KategoriiID == 2 & obj.Velicina.Golemina == "Mala")
        {
            if (obj.Tip.ImePica == "Margarita")
            {<p></p>
                <div class="thumbnail" style ="background-color:#ffece6">
                    <div class="row">

                        <div class="col-md-3">
                            <a href="/Image/Margarita">
                                <img id="myImg" src="~/Content/Pictures/2margaritaVV.png" alt="Margarita" width="200px" height="200px" />
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="/Image/Margarita">
                                <h1>@obj.Tip.ImePica</h1>
                                </a>
                                <h4>Sostojki</h4><h3>@obj.Opi.Sostojki</h3>
                        </div>
                    </div>
                </div>
                <p></p>
            }
            else if (obj.Tip.ImePica == "Hawaii")
            {
                <div class="thumbnail" style ="background-color:#ffece6">
                    <div class="row">

                        <div class="col-md-3">
                            <a href="/Image/Hawaii">
                                <img id="myImg" src="~/Content/Pictures/3hawaiiVV.png" alt="Hawaii" width="200px" height="200px" />
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="/Image/Hawaii">
                                <h1>@obj.Tip.ImePica</h1>
                                </a>
                                <h4>Sostojki</h4><h3>@obj.Opi.Sostojki</h3>
                        </div>
                    </div>
                </div>
                <p></p>
            }
            else if (obj.Tip.ImePica == "Napoli")
            {
                <div class="thumbnail" style ="background-color:#ffece6">
                    <div class="row">

                        <div class="col-md-3">
                            <a href="/Image/Napoli">
                                <img  id="myImg" src="~/Content/Pictures/4veganaVV.png" alt="Napoli" width="200px" height="200px" />
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="/Image/Napoli">
                                <h1>@obj.Tip.ImePica</h1>
                                </a>
                                <h4>Sostojki</h4><h3>@obj.Opi.Sostojki</h3>
                        </div>
                    </div>
                </div>

            }
        }
    }

</body>
</html>

